#servicesBackgroundImage2 p:first-child,#servicesBackgroundImage3 p:first-child{font-style:normal;font-weight:bold;font-size:40px}
#servicesBackgroundImage2 p,#servicesBackgroundImage3 p{color:white;font-size:35px;font-style:italic;line-height:35px}

#showroomBackgroundImage1 p,#showroomBackgroundImage2 p, #showroomBackgroundImage3 p{color:white;font-size:55px;line-height:35px;font-style:normal;font-weight:bold;}

#showroomBackgroundImage1{background-size:cover;background-image:url('/public/images/showroom/showroom1.jpg');width:100%;height:100%}
#showroomBackgroundImage2{background-size:cover;background-image:url('/public/images/showroom/showroom2.jpg');width:100%;height:100%}
#showroomBackgroundImage3{background-size:cover;background-image:url('/public/images/showroom/showroom3.jpg');width:100%;height:100%}

#servicesBackgroundImage1{background-size:cover;background-image:url('/public/images/services/1services.jpg');width:100%;height:100%}
#servicesBackgroundImage2{background-size:cover;background-image:url('/public/images/services/2Design.jpg');width:100%;height:100%}
#servicesBackgroundImage3{background-size:cover;background-image:url('/public/images/services/3Production_DSC4414a.jpg');width:100%;height:100%}  
	      		

#companyText{display:none;font-size:12px;color:Gray}

#mainBackgroundImage1{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/1company.jpg');width:100%;height:100%}
#mainBackgroundImage2{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/2showroom.jpg');width:100%;height:100%}
#mainBackgroundImage3{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/3facilities_DSC4526a.jpg');width:100%;height:100%}
#mainBackgroundImage4{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/4services.jpg');width:100%;height:100%}
#mainBackgroundImage5{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/5Clients_DSC4419a.jpg');width:100%;height:100%}
#mainBackgroundImage6{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/6contact.jpg');width:100%;height:100%}
#mainBackgroundImage7{background-size:cover;margin-left:50px;background-image:url('/public/images/anasayfa/7career.jpg');width:100%;height:100%}

.sendYourCV{font-size:13px;margin-left:60px}
.contactCountry{font-size:13px}
.contactAddress{font-size:12px}
.dropdown-menu {background:black}
.dropdown-menu>li>a {color:white;font-size:11px;text-decoration:underline;line-height:1.5;letter-spacing:1px}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
background:black;text-decoration:underline;	
}	
.openText{z-index:90;position:absolute;right:10px;bottom:60px}
.closeText{z-index:90;position:absolute;right:10px;bottom:60px;display:none}

#logoContainer{position:fixed;top:100px;left:0px;z-index:1000000}
#logoContainer a {z-index:1000;cursor:pointer}

.imageContainer{position:relative}

#showroom .slidesjs-pagination {left:50%;margin-left:-67px !important}
#company .slidesjs-pagination {left:50%;margin-left:-57px !important}
#services .slidesjs-pagination {left:50%;margin-left:-64px !important}

.slidesjs-pagination {position:absolute;top:10px;z-index:100;}
.slides .slidesjs-navigation {
      margin-top:3px;
    }

    .slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slides .slidesjs-next {
      position:absolute;
      top:50%;
      margin-top:-10px;
      background:url("/public/images/sag_ok.png") no-repeat center center;
      z-index:1000;
      width:49px;
      height:46px;
      right:0px;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/public/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    .slides a:link,
    .slides a:visited {
      color: #333
    }

    .slides a:hover,
    .slides a:active {
      color: #9e2020
    }