.sliderText{text-align:justify}
.yellowbg{
background:yellow;padding:1px 5px 1px 5px;color:black;	
font-weight:bold;
}

.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks > * {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.kwicks-horizontal > * {
	float: left;
}
.kwicks-horizontal > :first-child {
	margin-left: 0;
}

.kwicks-horizontal {
margin: 0;
padding: 0;
list-style: none;
position: relative;
}

.kwicks-horizontal > li {
display: block;
overflow: hidden;
padding: 0;
float: left;
width: 33.3%;
}



#facilitiesBottomTextContainer{display:none;width:360px}
#turkey{display:none}
#vietnam{display:none}
#bangladesh{display:none}
#facilitiesTextContainer{width:530px;position:absolute;top:50%;margin-top:-45px;margin-left:-265px;left:50%}

#tr_big_logo{
position:absolute;top:50%;left:50%;margin-left:-30px;cursor:pointer;margin-top:-32px;width:50px;
}

#ba_big_logo{
position:absolute;top:50%;left:50%;margin-left:-30px;cursor:pointer;margin-top:-32px;width:50px;
}

#vi_big_logo{
position:absolute;top:50%;left:50%;margin-left:-30px;cursor:pointer;margin-top:-32px;width:50px;
}

#client .slides .slidesjs-next {
top:30%;
}

ul#accordion-slider{
 margin: 0;
 padding: 0;
 list-style: none;
 position: relative;
}

ul#accordion-slider li{
 display: block;
 overflow: hidden;
 padding: 0;
 float: left;
 width: 33.3%;
}

#clientLogo1:hover{background:url('/public/images/clients/black_logos/massimo_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo2:hover{background:url('/public/images/clients/black_logos/zara_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo3:hover{background:url('/public/images/clients/black_logos/bershka_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo4:hover{background:url('/public/images/clients/black_logos/h&m_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo5:hover{background:url('/public/images/clients/black_logos/next_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo6:hover{background:url('/public/images/clients/black_logos/mcs_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo7:hover{background:url('/public/images/clients/black_logos/m&s_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo8:hover{background:url('/public/images/clients/black_logos/forever21_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo9:hover{background:url('/public/images/clients/black_logos/topman_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo10:hover{background:url('/public/images/clients/black_logos/mavi_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo11:hover{background:url('/public/images/clients/black_logos/alsaints_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo12:hover{background:url('/public/images/clients/black_logos/esprit_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo13:hover{background:url('/public/images/clients/black_logos/springfield_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo14:hover{background:url('/public/images/clients/black_logos/debenhams_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo15:hover{background:url('/public/images/clients/black_logos/cortefiel_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo16:hover{background:url('/public/images/clients/black_logos/we_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo17:hover{background:url('/public/images/clients/black_logos/sainsbury_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo18:hover{background:url('/public/images/clients/black_logos/ollygan_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo19:hover{background:url('/public/images/clients/black_logos/castro_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo20:hover{background:url('/public/images/clients/black_logos/mudo_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo21:hover{background:url('/public/images/clients/black_logos/riverwoods_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo22:hover{background:url('/public/images/clients/black_logos/reserved_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo23:hover{background:url('/public/images/clients/black_logos/c&a_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo24:hover{background:url('/public/images/clients/black_logos/burton_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo25:hover{background:url('/public/images/clients/black_logos/koton_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo26:hover{background:url('/public/images/clients/black_logos/dunnes_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo27:hover{background:url('/public/images/clients/black_logos/brice_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo28:hover{background:url('/public/images/clients/black_logos/henryscottons_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo30:hover{background:url('/public/images/clients/black_logos/el_corte_ingles_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo31:hover{background:url('/public/images/clients/black_logos/emido_tucci_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo32:hover{background:url('/public/images/clients/black_logos/celio_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo33:hover{background:url('/public/images/clients/black_logos/heroseven_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo34:hover{background:url('/public/images/clients/black_logos/carnet_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo35:hover{background:url('/public/images/clients/black_logos/jackjones_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo36:hover{background:url('/public/images/clients/black_logos/pull&bear_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo37:hover{background:url('/public/images/clients/black_logos/george_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}

#clientLogo38:hover{float:left;display:block;background:url('/public/images/clients/black_logos/mudo_fts64_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo39:hover{float:left;display:block;background:url('/public/images/clients/black_logos/zara_man_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo40:hover{float:left;display:block;background:url('/public/images/clients/black_logos/zara_kids_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo41:hover{float:left;display:block;background:url('/public/images/clients/black_logos/zara_baby_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo42:hover{float:left;display:block;background:url('/public/images/clients/black_logos/vintage_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo43:hover{float:left;display:block;background:url('/public/images/clients/black_logos/selected_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo44:hover{float:left;display:block;background:url('/public/images/clients/black_logos/premium_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo45:hover{float:left;display:block;background:url('/public/images/clients/black_logos/originals_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo46:hover{float:left;display:block;background:url('/public/images/clients/black_logos/kigili_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo47:hover{float:left;display:block;background:url('/public/images/clients/black_logos/core_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo48:hover{float:left;display:block;background:url('/public/images/clients/black_logos/bskgirl_black.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}


#clientLogo1{float:left;display:block;background:url('/public/images/clients/white_logos/massimo_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo2{float:left;display:block;background:url('/public/images/clients/white_logos/zara_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo3{float:left;display:block;background:url('/public/images/clients/white_logos/bershka_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo4{float:left;display:block;background:url('/public/images/clients/white_logos/h&m_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo5{float:left;display:block;background:url('/public/images/clients/white_logos/next_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo6{float:left;display:block;background:url('/public/images/clients/white_logos/mcs_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo7{float:left;display:block;background:url('/public/images/clients/white_logos/m&s_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo8{float:left;display:block;background:url('/public/images/clients/white_logos/forever21_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo9{float:left;display:block;background:url('/public/images/clients/white_logos/topman_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo10{float:left;display:block;background:url('/public/images/clients/white_logos/mavi_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo11{float:left;display:block;background:url('/public/images/clients/white_logos/alsaints_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo12{float:left;display:block;background:url('/public/images/clients/white_logos/esprit_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo13{float:left;display:block;background:url('/public/images/clients/white_logos/springfield_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo14{float:left;display:block;background:url('/public/images/clients/white_logos/debenhams_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo15{float:left;display:block;background:url('/public/images/clients/white_logos/cortefiel_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo16{float:left;display:block;background:url('/public/images/clients/white_logos/we_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo17{float:left;display:block;background:url('/public/images/clients/white_logos/sainsburys_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo18{float:left;display:block;background:url('/public/images/clients/white_logos/ollygan_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo19{float:left;display:block;background:url('/public/images/clients/white_logos/castro_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo20{float:left;display:block;background:url('/public/images/clients/white_logos/mudo_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo21{float:left;display:block;background:url('/public/images/clients/white_logos/riverwoods_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo22{float:left;display:block;background:url('/public/images/clients/white_logos/reserved_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo23{float:left;display:block;background:url('/public/images/clients/white_logos/c&a_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo24{float:left;display:block;background:url('/public/images/clients/white_logos/burton_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo25{float:left;display:block;background:url('/public/images/clients/white_logos/koton_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo26{float:left;display:block;background:url('/public/images/clients/white_logos/dunnes_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo27{float:left;display:block;background:url('/public/images/clients/white_logos/brice_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo28{float:left;display:block;background:url('/public/images/clients/white_logos/henrycottons_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo30{float:left;display:block;background:url('/public/images/clients/white_logos/el_corte_ingles_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo31{opacity:0.8;float:left;display:block;background:url('/public/images/clients/white_logos/emido_tucci_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo32{float:left;display:block;background:url('/public/images/clients/white_logos/celio_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo33{float:left;display:block;background:url('/public/images/clients/white_logos/heroseven_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo34{float:left;display:block;background:url('/public/images/clients/white_logos/carnet_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo35{opacity:0.8;float:left;display:block;background:url('/public/images/clients/white_logos/jackjones_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo36{opacity:0.8;float:left;display:block;background:url('/public/images/clients/white_logos/pull&bear_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo37{float:left;display:block;background:url('/public/images/clients/white_logos/george_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}

#clientLogo38{float:left;display:block;background:url('/public/images/clients/white_logos/mudo_fts64_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo39{float:left;display:block;background:url('/public/images/clients/white_logos/zara_man_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo40{float:left;display:block;background:url('/public/images/clients/white_logos/zara_kids_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo41{float:left;display:block;background:url('/public/images/clients/white_logos/zara_baby_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo42{float:left;display:block;background:url('/public/images/clients/white_logos/vintage_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo43{float:left;display:block;background:url('/public/images/clients/white_logos/selected_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo44{float:left;display:block;background:url('/public/images/clients/white_logos/premium_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo45{float:left;display:block;background:url('/public/images/clients/white_logos/originals_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo46{float:left;display:block;background:url('/public/images/clients/white_logos/kigili_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo47{float:left;display:block;background:url('/public/images/clients/white_logos/core_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}
#clientLogo48{float:left;display:block;background:url('/public/images/clients/white_logos/bskgirl_white.png') no-repeat 50% 50%;width:20.0%;height:33.2%;background-size: 100% 133.2%}


.bgBlack{opacity:0.8;float:left;display:block;background:url('/public/images/clients/siyah.png') no-repeat 50% 50%;width:16.7%;height:33.2%;background-size: 100% 133.2%}


#careerBackgroundImage1{background-size:cover;background-image:url('/public/images/career/Career.jpg');width:100%;height:100%}
#contactBackgroundImage1{background-size:cover;background-image:url('/public/images/contact/contact.jpg');width:100%;height:45%;background-position:-250px}
#clientBackgroundImage1{background-size:cover;background-image:url('/public/images/clients/background.jpg');width:100%;height:62%}
#clientBackgroundImage2{background-size:cover;background-image:url('/public/images/clients/background.jpg');width:100%;height:62%}

#companyBackgroundImage1{background-size:cover;background-image:url('/public/images/company/1_company1.jpg');width:100%;height:100%}
#companyBackgroundImage2{background-size:cover;background-image:url('/public/images/company/2_DSC4258a.jpg');width:100%;height:100%}
#companyBackgroundImage3{background-size:cover;background-image:url('/public/images/company/company3.jpg');width:100%;height:100%}

.sectionHeaders{font-family: 'Raleway', sans-serif;font-size:18px;text-decoration:underline;padding-top:25px;letter-spacing:1px;font-weight:600}

body{
	font-family: 'Questrial', sans-serif;
}

#servicesBackgroundImage2 p:first-child,#servicesBackgroundImage3 p:first-child{font-style:normal;font-weight:700;font-size:60px;font-family: 'Raleway', sans-serif;}
#servicesBackgroundImage2 p,#servicesBackgroundImage3 p{color:white;font-size:35px;font-style:italic;line-height:30px;font-weight:700;font-family: 'Raleway', sans-serif;}

#showroomBackgroundImage1 p,#showroomBackgroundImage2 p, #showroomBackgroundImage3 p,#showroomBackgroundImage4 p,#showroomBackgroundImage5 p{color:white;font-size:55px;line-height:45px;font-style:normal;font-weight:700;font-family: 'Raleway', sans-serif;}

#showroomBackgroundImage1{background-size:cover;background-image:url('/public/images/showroom/_DSC4305a.jpg');width:100%;height:100%}
#showroomBackgroundImage2{background-size:cover;background-image:url('/public/images/showroom/showroom2.jpg');width:100%;height:100%}
#showroomBackgroundImage3{background-size:cover;background-image:url('/public/images/showroom/showroom3.jpg');width:100%;height:100%}
#showroomBackgroundImage4{background-size:cover;background-image:url('/public/images/showroom/showroom1.jpg');width:100%;height:100%}
#showroomBackgroundImage5{background-size:cover;background-image:url('/public/images/showroom/children.jpg');width:100%;height:100%}

#servicesBackgroundImage1{background-size:cover;background-image:url('/public/images/services/1services.jpg');width:100%;height:100%}
#servicesBackgroundImage2{background-size:cover;background-image:url('/public/images/services/2Design.jpg');width:100%;height:100%}
#servicesBackgroundImage3{background-size:cover;background-image:url('/public/images/services/3Production_DSC4414a.jpg');width:100%;height:100%}  
	      		

#companyText{font-size:12px;color:#6B6B6B;font-family: 'Questrial', sans-serif;}
#servicesText{font-size:12px;color:#6B6B6B;font-family: 'Questrial', sans-serif;}
#facilitiesText{font-size:12px;color:#6B6B6B;font-family: 'Questrial', sans-serif;float:left;text-align:justify}
#facilitiesText span{color:black;font-size:13px;background:yellow;padding:1px 5px 1px 5px}


#mainBackgroundImage1{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/1company.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage2{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/2showroom.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage3{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/3facilities_DSC4526a.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage4{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/4services.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage5{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/5Clients_DSC4419a.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage6{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/6contact.jpg');width:100% !important;height:100% !important;}
#mainBackgroundImage7{background-size:cover;margin-left:30px;background-image:url('/public/images/anasayfa/7career.jpg');width:100% !important;height:100% !important;}

.sendYourCV{font-size:13px;}
.contactCountry{font-size:13px}
.contactAddress{font-size:12px}
.navbar-nav>li>a {
padding-top: 5px;
padding-bottom: 5px;
}
.dropdown-menu {background:black}
.dropdown-menu>li>a {color:white;font-size:11px;text-decoration:underline;line-height:1.5;letter-spacing:1px}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
background:black;text-decoration:underline;	
}	
.openText{z-index:90;position:absolute;right:10px;bottom:60px;cursor:pointer;display:none}
.closeText{z-index:90;position:absolute;right:10px;bottom:60px;;cursor:pointer}

#logoContainer{position:fixed;top:100px;left:0px;z-index:1000000}
#logoContainer a {z-index:1000;cursor:pointer}

.imageContainer{position:relative}

#client .slidesjs-pagination {display:none}
#showroom .slidesjs-pagination {left:50%;margin-left:-77px !important}
#company .slidesjs-pagination {left:50%;margin-left:-57px !important}
#services .slidesjs-pagination {left:50%;margin-left:-64px !important}

.slidesjs-pagination {position:absolute;top:10px;z-index:100;}
.slides .slidesjs-navigation {
      margin-top:3px;
    }

    .slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slides .slidesjs-next {
      position:absolute;
      top:50%;
      margin-top:-10px;
      background:url("/public/images/sag_ok.png") no-repeat center center;
      z-index:1000;
      width:49px;
      height:46px;
      right:0px;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 12px;
      height: 0;
      padding-top: 13px;
      background-image: url(/public/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    .slides a:link,
    .slides a:visited {
      color: #333
    }

    .slides a:hover,
    .slides a:active {
      color: #9e2020
    }


.countryNames{font-size:25px}
#popUpContainer{
position: fixed;
top: 0;
right: 0;
height: 100%;
width: 100%;
z-index: 1000;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
zoom: 1;
background-color:rgba(0, 0, 0, 0.79);
}

#closePopUp{position:absolute;top:20px;right:20px;cursor:pointer}
#closePopUp:hover{opacity:0.7}

#popupImage{position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-283px;width:800px;}

@media (max-width: 980px) {
.imageContainer,.slides,.slidesjs-container,.slidesjs-control{height:1400px !important}
#client .imageContainer,#client .imageContainer .slides,#client .imageContainer .slides .slidesjs-container,#client .imageContainer .slides .slidesjs-container .slidesjs-control{height:676px !important} */
}





@media (max-width: 767px) {
	#facilitiesText{
	font-size: 11px;
	}
	#facilitiesTextContainer{width:360px;margin-left:-180px;}
	#facilitiesText span{font-size:11px;}
	.sectionHeaders{
	font-size:16px;
	padding-top:25px;
	}
	#servicesText,#companyText{
	font-size: 11px;
	}
	.sendYourCV{font-size: 11px;}
	.contactAddress{
	font-size: 11px;
	}
}


@media (min-width: 768px) and (max-width: 980px) {
	#facilitiesText{
	font-size: 12px;
	}
	#facilitiesTextContainer{width:400px;margin-left:-200px;}
	#facilitiesText span{font-size:12px;}
	
	.sectionHeaders{
	font-size:16px;
	padding-top:25px;
	}
	
	#servicesText,#companyText{
	font-size: 12px;
	}
	.sendYourCV{
	font-size: 12px;
	}
	.contactAddress{
	font-size: 12px;
	}
}

/* Desktops and laptops ----------- */
@media (min-width: 980px) and (max-width: 1200px) {
	#facilitiesText{
	font-size: 12px;
	}
	#facilitiesTextContainer{width:400px;margin-left:-200px;}
	#facilitiesText span{font-size:12px;}
	.sectionHeaders{
	font-size:17px;
	padding-top:25px;
	}
	#servicesText,#companyText{
	font-size: 12px;
	}
	.sendYourCV{
	font-size: 12px;
	}
	.contactAddress{
	font-size: 12px;
	}
}


/* Desktops and laptops ----------- */
@media (min-width: 1200px) and (max-width: 1699px) {
	#facilitiesText{font-size: 12px;}	
	#facilitiesTextContainer{width:450px;margin-left:-225px;}
	#facilitiesText span{font-size:13px;}
	#facilitiesBottomTextContainer{width:400px}
	.sectionHeaders{font-size:18px;padding-top:25px;}
	#servicesText,#companyText{
	font-size:12px;
	}
	.sendYourCV{
	font-size:13px;
	}
	.contactAddress{
	font-size:12px;
	}
}

/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {
	#facilitiesText{font-size: 14px;}	
	#facilitiesTextContainer{width:680px;margin-left:-340px;}
	#facilitiesText span{font-size:17px;}
	#facilitiesBottomTextContainer{width:690px}
	.sectionHeaders{font-size:20px;padding-top:25px;}
	#servicesText,#companyText{font-size: 14px;}
	.sendYourCV{font-size: 17px;}
	.contactAddress{font-size: 17px;}
}