<div style="height:50px;width:100%;position:fixed;top:0px;z-index:1000;background:white">
	<div class="pull-right" style="position:absolute;top:0px;right:100px;background:black;text-align:center">
		<ul class="nav navbar-nav" style="margin:0px">
            <li class="dropdown" style="width:200px;">
              <a style="color:white;background-color:black" href="#" class="dropdown-toggle" data-toggle="dropdown">MENU</a>
              <ul class="dropdown-menu" style="min-width:200px">
		            <li><a href="#about">COMPANY</a></li>
		            <li><a href="#about">SHOWROOM</a></li>
		            <li><a href="#about">FACILITIES</a></li>
		            <li><a href="#about">SERVICES</a></li>
		            <li><a href="#about">CLIENT</a></li>
		            <li><a href="#about">CONTACT</a></li>
		            <li><a href="#about">CAREER</a></li>
              </ul>
            </li>
          </ul>
	</div>
</div>
