<div style="height:30px;width:100%;position:fixed;top:0px;z-index:1000;background:white">
	<div class="pull-right" style="position:absolute;top:0px;right:100px;background:black;text-align:center">
		<ul class="nav navbar-nav" style="margin:0px">
            <li class="dropdown" style="width:180px;">
              <a style="color:white;background-color:black;font-size:12px" href="#" class="dropdown-toggle" data-toggle="dropdown">MENU</a>
              <ul id="nav2" class="dropdown-menu" style="min-width:180px;padding:10px">
		            <li><a href="#company" class="jump" id="companyLink">COMPANY</a></li>
		            <li><a href="#showroom" class="jump" id="showroomLink">SHOWROOM</a></li>
		            <li><a href="#facilities" class="jump" id="facilitiesLink">FACILITIES</a></li>
		            <li><a href="#services" class="jump" id="servicesLink">SERVICES</a></li>
		            <li><a href="#client" class="jump" id="clientLink">CLIENT</a></li>
		            <li><a href="#contact" class="jump" id="contactLink">CONTACT</a></li>
		            <li><a href="#career" class="jump" id="careerLink">CAREER</a></li>
              </ul>
            </li>
          </ul>
	</div>
</div>
