#{extends 'main.html' /}
#{set title:'Home' /}

<section id="company" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="position:fixed;top:100px;left:0px;z-index:10">
		<img src="/public/images/logo.png" />
	</div>
	
	<div style="margin-left:50px">
		<img  class="img-responsive" src="/public/images/company/1_company1.jpg" />  			
	</div>
</section>


<section id="showroom" style="position:relative;height:100%;overflow: hidden;padding: 0;margin-bottom:-50px">
	<div style="margin-left:103px;margin-top: 50px;">
		<div style="height:50px;width:100%;text-align:center">
			<h5 style="text-decoration:underline;padding-top:10px">SHOWROOM</h5>
		</div>
		<img class="img-responsive" src="/public/images/showroom/showroom1.jpg" />  			
	</div>
</section>
