#{extends 'main.html' /}
#{set title:'Home' /}

<section id="main" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div id="logoContainer">
		<a href="/"><img style="width:100px" src="/public/images/logo.png" /></a>
	</div>	
	<div style="width:100%;height:100%" id="mainPageImages">
		<div id="mainBackgroundImage1"></div>
		<div id="mainBackgroundImage2"></div>
		<div id="mainBackgroundImage3"></div>
		<div id="mainBackgroundImage4"></div>
		<div id="mainBackgroundImage5"></div>
		<div id="mainBackgroundImage6"></div>
		<div id="mainBackgroundImage7"></div>
	</div>
	<span id="fotolar"></span>	
</section>

	
<section id="company" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-left:100px;margin-top: 50px;">	
		<div class="pabsolute" style="position:absolute;width:410px;left:-310px;height:100%;z-index:90;">
			<div style="display:inline-block;float:left;width:410px;position:relative;height:100%;background:white;">
				<div style="width:250px;float:right;height:400px;margin-right:35px;padding-top:50px">
				<p class="sliderText" id="companyText">
				SBS Textile known as ShirtbyShirt specializes in the production of fine men and women shirts. 
				The company was established in 2000 aiming to create innovative and high quality products. 
				In the previous 12 years the company has become the market leader with an increasing capacity 
				of production and meeting demand of <span style="background:yellow;padding:1px 5px 1px 5px;color:black;"><strong>10 million garments</strong></span> per year which includes 9 million shirts 
				and 1 million trousers in European, American and Turkish markets. With its talented design team 
				of highly experienced people, the brand establishes the collection by following up global trends 
				and developments, never failing to attend all the trade shows all over the world. Quality, 
				creativity and professionalism is enhanced in every way along with reliable service and 
				competitive price policy. As a design office, ShirtbyShirt is able to satisfy all of its customers’ 
				needs and provide creative solutions to any kind of demands with its extensive experience regarding 
				fabric research and development with the principle of highest standard production.
				</p>
				</div>			
				<img class="openText" src="/public/images/open.png" />
				<img class="closeText" src="/public/images/close.png" />
			</div>	
		</div>
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">COMPANY</h5>
		</div>
		<div class="imageContainer">
    		<div class="slides">
    			<div id="companyBackgroundImage1" style="padding:100px 0 0 100px"></div>
    			<div id="companyBackgroundImage2" style="padding:100px 0 0 100px"></div>    			   
	      		<a href="#" class="slidesjs-next slidesjs-navigation"></a>
    		</div>
		</div>				  			
	</div>
</section>

<section id="showroom" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-left:30px;margin-top: 50px;">
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">SHOWROOM</h5>
		</div>
		
		<div class="imageContainer">
    		<div class="slides">	      						
				<div id="showroomBackgroundImage1" style="padding:100px 0 0 100px">
					<p style="color:#000">MEN CASUAL</p>
				</div>
				<div id="showroomBackgroundImage2" style="padding:100px 0 0 100px">
					<p style="color:#000">MEN SMART</p>
				</div>
				<div id="showroomBackgroundImage3" style="padding:100px 0 0 100px">
					<p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">PANT</p>
				</div>
				<div id="showroomBackgroundImage4" style="padding:100px 0 0 100px">
					<p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">WOMEN</p>
				</div>
				<div id="showroomBackgroundImage5" style="padding:100px 0 0 100px">
					<p style="color:#000">Children</p>
				</div>				  				
	      		<a href="#" class="slidesjs-next slidesjs-navigation"></a>
    		</div>
		</div>				  			
	</div>
</section>

<section id="facilities" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-top:30px;height:100%;margin-left:30px;">
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">FACILITIES</h5>
		</div>				
		<div class="container text-center" style="height:95px;position:relative">
			<div style="width:365px;position:absolute;top:50%;margin-top:-45px;margin-left:-150px;left:50%">	          
	          	<p id="facilitiesText">
	          		ShirtbyShirt’s rapidly growing company’s head office is currently operating by marketing, finance, sourcing, 
	          		merchandising, branding and design departments, quality control, pattern making and proto sewing lab, generate 
	          		a large 
	          		
	          		<span style="color:black;font-size:13px;background:yellow;padding:1px 5px 1px 5px"><strong>team of 200 people.</strong></span>
	          	</p>
	        </div>
		</div>	
			
        
		<div id="accordionContainer" style="height:75%;overflow:hidden;background:black">		
			<ul id="accordion-slider">
				<li id="first">
					<img class="i" src="/public/images/facilities/1Turkiye_DSC4660a.jpg" alt="Image Title"/>
					<img class="countryIcons" data-type="tr" id="tr_big_logo" src="/public/images/facilities/Large/TR_L.png"/>
				</li>
				<li id="second">
					<img class="i" src="/public/images/facilities/2Vietnam_DSC4472a.jpg" alt="Image Title"/>
					<img class="countryIcons" data-type="viet" id="vi_big_logo" src="/public/images/facilities/Large/VIE_L.png"/>
				</li>
				<li id="third">
					<img class="i" src="/public/images/facilities/3Bangladesh_DSC4594a.jpg" alt="Image Title"/>					
					<img class="countryIcons" data-type="ban" id="ba_big_logo" src="/public/images/facilities/Large/BAN_L.png"/>
				</li>		
			</ul>				
		</div>
		
		<div style="width:350px;" class="container text-center" id="facilitiesBottomTextContainer">
			<div id="turkey">	          
				<h3 style="font-family: 'Raleway', sans-serif;">TURKEY</h3>
	          	<p id="facilitiesText">
	          		SBS privately owned factory is situated in Duzce, Turkey. Besides SBS employs over 200 people 
	          		with a monthly capacity of 70.000 pieces. Also the company works with subcontractors with 
	          		330.000 pieces per month. 
	          	</p>
	        </div>
			<div id="vietnam">	          
				<h3 style="font-family: 'Raleway', sans-serif;">VIETNAM</h3>
	          	<p id="facilitiesText">
	          		In order to adapt to the changing economical conditions and to satisfy the various needs of 
	          		its customers, in 2008 ShirtbyShirt started its operation in Vietnam. There is an office 
	          		with 20 employees managing operations concerning Far East from a local point.
	          	</p>
	        </div>
	        <div id="bangladesh">	          
				<h3 style="font-family: 'Raleway', sans-serif;">BANGLADESH</h3>
	          	<p id="facilitiesText">
	          		In order to adapt to the changing economical conditions and to satisfy the various needs of 
	          		its customers, in 2008 ShirtbyShirt started its operation in Vietnam. There is an office 
	          		with 20 employees managing operations concerning Far East from a local point.
	          	</p>
	        </div>    
		</div>		
						  			
	</div>
</section>

<section id="services" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-left:100px;margin-top: 50px;">	
		<div class="pabsolute" style="position:absolute;width:410px;left:-310px;height:100%;z-index:90;">
			<div style="display:inline-block;float:left;width:410px;position:relative;height:100%;background:white;">
				<div style="width:250px;float:right;height:400px;margin-right:35px;padding-top:50px">
					<p class="sliderText" id="servicesText">
						ShirtbyShirt showrooms consist of wide product range in men’s, women’s and childrenwear. 
						The men’s shirt showroom possess smart, casual, fashionable, garment dyed, garment washed 
						and many diffirent styles. Every month the design team work on <span style="color:black;"><stong>
						300 pieces strong collection for SBS showroom.</stong></span> Based on the demand created by the customers 
						SBS introduced pants as a new to its customers in 2010 and expanded its product portfolio with non denim, 
						chino, garment dyed pants and shorts.
						<br><br>
						However women’s showroom created with the latest trends and different styles with customers’ need 
						by the design team with <span style="color:black;"><stong>100 pieces for women‘s wear in a month.</stong></span>
						<br><br>
						SBS is also ambitious in children’s clothing which is continuing to grow rapidly is in progress. 
						Each season <span style="color:black;"><stong>100 pieces for children’s wear appear in showroom.</stong></span>
					</p>
				</div>			
				<img class="openText" src="/public/images/open.png" />
				<img class="closeText" src="/public/images/close.png" />
			</div>	
		</div>
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">SERVICES</h5>
		</div>
		<div class="imageContainer">
    		<div class="slides">
	      		<div id="servicesBackgroundImage1"></div>
				<div id="servicesBackgroundImage2" style="padding:100px 0 0 20px">
					<p>DESIGN</p><br>
					<p>TREND DEVELOPMENT /</p> 
					<p>FABRIC SOURCING /</p> 
					<p>DESIGN /</p> 
					<p>COLLECTION DEVELOPMENT /</p> 
					<p>PRESENTATION</p>
				</div>
				<div id="servicesBackgroundImage3" style="padding:100px 0 0 20px">
					<p>PRODUCTION</p><br>
					<p>PLANNING /</p> 
					<p>BUYING & SOURCING /</p> 
					<p>PATTERN & LECTRA /</p> 
					<p>LABORATORY /</p>
					<p>FABRIC INSPECTION /</p> 
					<p>ACCESSORY /</p> 
					<p>PRODUCTION /</p> 
					<p>WASHING & DYING /</p> 
					<p>SHIPPING<p>
				</div>  
	      		<a href="#" class="slidesjs-next slidesjs-navigation"></a>
    		</div>
		</div>				  			
	</div>
</section>

<section id="client" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-left:50px;margin-top:50px;height:100%">
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">CLIENTS</h5>
		</div>				
		<div class="container text-center" style="height:169px">
			<div class="row">
				<div class="col-lg-2"></div>
		        <div class="col-lg-8">	          
		          <h2 style="font-family: 'Raleway', sans-serif;">SERVING WITH EXPERTISE & LOVE</h2>
		        </div>	       
	      </div>
		</div>				
		<div class="imageContainer">
    		<div class="slides">		
	      		<div id="clientBackgroundImage1">
	      			<div id="clientLogo1"></div>
	      			<div id="clientLogo2"></div>
	      			<div id="clientLogo3"></div>
	      			<div id="clientLogo4"></div>
	      			<div id="clientLogo5"></div>
	      			<div id="clientLogo6"></div>
	      			<div id="clientLogo7"></div>
	      			<div id="clientLogo8"></div>
	      			<div id="clientLogo9"></div>
	      			<div id="clientLogo10"></div>
	      			<div id="clientLogo11"></div>
	      			<div id="clientLogo12"></div>
	      			<div id="clientLogo13"></div>
	      			<div id="clientLogo14"></div>
	      			<div id="clientLogo15"></div>
	      			<div id="clientLogo16"></div>
	      			<div id="clientLogo17"></div>
	      			<div id="clientLogo18"></div>	      			
	      		</div>
	      		<div id="clientBackgroundImage2">
	      			<div id="clientLogo19"></div>
	      			<div id="clientLogo20"></div>
	      			<div id="clientLogo21"></div>
	      			<div id="clientLogo22"></div>
	      			<div id="clientLogo23"></div>
	      			<div id="clientLogo24"></div>
	      			<div id="clientLogo25"></div>
	      			<div id="clientLogo26"></div>
	      			<div id="clientLogo27"></div>
	      			<div id="clientLogo28"></div>
	      			<div id="clientLogo30"></div>
	      			<div id="clientLogo31"></div>
	      			<div id="clientLogo32"></div>
	      			<div id="clientLogo33"></div>
	      			<div id="clientLogo34"></div>
	      		</div>    
	      		<a href="#" class="slidesjs-next slidesjs-navigation"></a>	      				
			</div>
		</div>
	</div>
</section>

<section id="contact" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-top:50px;height:100%">
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">CONTACT</h5>
		</div>					
		<div id="contactBackgroundImage1" style="padding:100px 0 0 100px;margin-left:50px"></div>		
		<div class="container text-center">
			<div class="row">
	        <div class="col-lg-4">
	          <h2>TURKEY</h2>
			  <p class="contactAddress">
	          	Fırat Hasköy<br>
	          	E-mail:firat@shirtbyshirt.com
	          </p>
	          <img src="/public/images/location.png" />
	        </div>
	        <div class="col-lg-4">
	          <h2>SOUTH EUROPE</h2>
	          <p class="contactAddress">
	          	Alberto Aroyo<br>
	          	E-mail:alberto@shirtbyshirt.com 
	          </p>
	          <img src="/public/images/location.png" />
	        </div>
	        <div class="col-lg-4">
	          <h2>NORTH EUROPE</h2>
	          <p class="contactAddress">
	          	Selim Güner<br>
	          	E-mail:selim@shirtbyshirt.com 
	          </p>
	          <img src="/public/images/location.png" />
	        </div>
	      </div>
	      <br><br>
	      <div class="row">
	        <div class="col-lg-6 col-lg-offset-3" style="text-align:center">
	        	<p class="contactAddress">
	        		Head Office / SBS Tekstil Emek Mah. Nato Yolu No:323 Sarıgazi Sancaktepe İstanbul
	        	</p>
	        </div>
	      </div>	       
		</div>				  			
	</div>
</section>

<section id="career" style="position:relative;height:100%;overflow: hidden;padding: 0;">
	<div style="margin-top:50px;height:100%">
		<div style="height:50px;width:100%;text-align:center">
			<h5 class="sectionHeaders">CAREER</h5>
		</div>				
		<div class="container">
			<div class="row">
	        	<div class="col-lg-6">	        
	          		<p class="sendYourCV">Please send your CV to <a href="mailto:esra@shirtbyshirt.com">
          				<span style="color:black">esra@shirtbyshirt.com</span></a>  
          			</p>
	        	</div>	       
	      	</div>
		</div>		
		<div id="careerBackgroundImage1" style="padding:100px 0 0 100px;margin-left:50px"></div>				  			
	</div>
</section>

<script>
    $(function() {
      $('.slides').each(function(){
    	  $(this).slidesjs({    
        	navigation: false
      	});
      })
    });
    
    $().ready(function() {
    	 $('#accordion-slider').kwicks({
    	 max : 820,
    	 spacing : 2,
    	 easing: 'swing',
    	 // The event that triggers the expand effect
    	 event: 'click',
    	 eventClose: 'click'   	 
    	 });
    });   
   
</script>
