<!DOCTYPE html>

<html style="height:100%">
    <head>
        <title>Shirt By Shirt</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="keywords" content="sbs, textile, tekstil, kumas, twoplay, shirt, kartela, gomlek, baski, nakis, uretim, tasarim,  iplik, mekik, fabric, menswear, cotton, linen, emprime, dokuma, weaving, top, boya, peace, dyed, classic, gomleklik, gomlek, urban, casual, wear, shirting, fancy, desen, dudullu, istanbul, turkey, turkiye, shirt, by, shirt, factory">
		<meta name="description" content="SBS Textile known as ShirtbyShirt specializes in the production of fine men and women's shirts. The company was established 7 years ago and has been considered in a very short time as the leader in the market.Quality, creativity and professionalism is enhanced in every way along with reliable service and competitive price policy. SBS aims to be considered as a product development partner as we thrive to learn and be informed with the latest trends and novelties going around the globe. A team of experienced designers implement and present more than five hundred new shirts a year. Adding a 25 year old fabric knowledge background, and a team of more than thirty people in the sampling department, each customer's need is answered with professionalism. ">
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="//code.jquery.com/jquery.js"></script>
    	<script src="/public/javascripts/jquery.slides.min.js"></script>
    	<script src="/public/javascripts/jquery.cycle.lite.js"></script>
    	<script type="text/javascript" src="/public/javascripts/jquery.kwicks-1.5.1.pack.js"></script>    	
    	<script src="/public/javascripts/main.js"></script>    	
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        #{get 'moreScripts' /}
    </head>
    <body style="height: 100%;">
    	#{header /}
        #{doLayout /}
    </body>
</html>
