<!DOCTYPE html>

<html style="height:100%">
    <head>
        <title>SBS Textile</title>
        <meta charset="${_response_encoding}">
        <meta name="keywords" content="sbs, textile, tekstil, kumas, twoplay, shirt, kartela, gomlek, baski, nakis, uretim, tasarim,  iplik, mekik, fabric, menswear, cotton, linen, emprime, dokuma, weaving, top, boya, peace, dyed, classic, gomleklik, gomlek, urban, casual, wear, shirting, fancy, desen, dudullu, istanbul, turkey, turkiye, shirt, by, shirt, factory">
		<meta name="description" content="ShirtByShirt specializes in the production of high quality shirts with unique and innovative designs.">
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		<meta id="Viewport" name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     	<script src="//code.jquery.com/jquery.js"></script> -->
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script src="/public/javascripts/jquery.slides.min.js"></script>
    	<script src="/public/javascripts/jquery.cycle.all.js"></script>
    	<script type="text/javascript" src="/public/javascripts/jquery.kwicks.js"></script>    	
    	<script src="/public/javascripts/main.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        #{get 'moreScripts' /}
    </head>
    <body style="height: 100%;">
    	#{header /}
    	<div id="popUpContainer" style="display:none">
    		<img id="closePopUp" src="/public/images/x.png" />
    		<img id="popupImage" src="/public/images/popup1.png" />
    	</div>
        #{doLayout /}
    </body>
</html>
